

.p-color
{
  background-color: black;
  color: white;
  padding: spx;
  margin-top: 10px ;
  line-height: 256x;
  width: 160px;
  transition: 4s;

}


  #pc{
    background-color: aqua;
  }